@media (min-width: 1200px) {
	:root {
		--html-font-size: 1rem;
		--so-size: 48vw;
		--so-radius: 3px;
		--so-margin: 20vh;
	}
}

html {
	font-size: var(--html-font-size);
}

body, html,p,ul,li {
	margin: 0;
	padding: 0;
}

.head {
	width: 100%;
	box-shadow: 0 2px 5px #eee;
}

.head ul {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
	height: 3.6rem;
	line-height: 3.6rem;
	list-style: none;
}

.head a {
	color: #000;
	text-decoration: none;
}

.head a:hover {
	text-decoration: underline;
}

.head ul li {
	float: left;
	margin-right: 2rem;
}

img {
	margin: 0 auto;
	display: block;
}

.con-center {
	width: 100vw;
	height: calc(100vh - 4rem - 2px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.con-center .loding {
	width: 48vh;
	height: 48vh;
	background: url("https://cdn.jsdelivr.net/gh/f12998765/xizero-wiki/src/img/loding.svg") no-repeat;
	background-size: 100% 100%;
}

.con-center .e404 {
	width: 66vh;
	height: 66vh;
	background: url("https://cdn.jsdelivr.net/gh/f12998765/xizero-wiki/src/img/404.png") no-repeat;
	background-size: 100% 100%;
}

.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 1.2rem auto;
}

.markdown-body,.head ul,.result {
	padding: 0 1rem;
}

@media (max-width: 1200px) {
	:root {
		--so-size: 81vw;
		--so-radius: 22px;
		--so-margin: 15vh;
	}
}

.so {
	width: var(--so-size);
	height: 44px;
	margin: var(--so-margin) auto;
	background-color: #fff;
	vertical-align: top;
	border-radius: var(--so-radius);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.so:hover {
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.in {
	display: inline-block;
	width: calc(var(--so-size) - 44px);
	height: 39px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 22px;
}

.in input {
	width: 100%;
	border: none;
	outline: none;
	font: 16px arial,sans-serif;
	line-height: 34px;
	height: 34px;
}

.so .sub {
	float: right;
	width: 44px;
	height: 44px;
	background: url("https://cdn.jsdelivr.net/gh/f12998765/xizero-wiki/src/img/so.svg") no-repeat center center;
	background-size: 72% 72%;
	cursor: pointer;
}

.result {
	box-sizing: border-box;
	max-width: 980px;
	margin: 0 auto 3rem auto;
}

#conut {
	font-size: 12px;
	color: #aaa;
	height: 44px;
	line-height: 44px;
}

.page {
	width: 100%;
	padding: 1.5rem 0 2rem 0;
	border-top: 1px solid #eee;
}

.page_title {
	font-size: 1rem;
}

.page_title a {
	text-decoration: none;
}

.page_title a:hover {
	text-decoration: underline;
}

.page_text {
	font-size: 0.8rem;
	padding: 1rem;
	border: 1px #e1e4e8 solid;
	margin-top: 1rem;
	line-height: 1.5rem;
}

y {
	background: yellow;
}