body, html,p {
  margin: 0;
  padding: 0;
}

.head {
  width: 100%;
  box-shadow: 0 2px 5px #eee;
}
.head ul{
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  height: 4rem;
  line-height: 4rem;
  padding:0 45px;
  list-style: none;
}

.head a{
  color: #000;
  text-decoration: none;
  font-size: 1.1rem;
}

.head a:hover{
  text-decoration:underline;
}

.head ul li {
  float: left;
  margin-right: 3rem;
}

img{
  margin: 0 auto;
  display: block;
}


.con-center{
  width: 100vw;
  height:  calc(100vh - 4rem - 2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-center .loding{
  width: 160px;
  height: 160px;
  background: url("https://unpkg.com/xizero-wiki/src/img/loding.svg") no-repeat;
  background-size: 100% 100%;
}

.con-center .e404{
  width: 66vh;
  height: 66vh;
  background: url("https://unpkg.com/xizero-wiki/src/img/404.png") no-repeat;
  background-size: 100% 100%;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
  .head ul{
	  padding:0 15px;
  }
  .con-center .e404{
    width: 66vw;
    height: 66vw;
  }
}

