body, html,p {
  margin: 0;
  padding: 0;
}

.head {
  width: 100%;
  box-shadow: 0 2px 5px #eee;
}
.head ul{
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  height: 4rem;
  line-height: 4rem;
  padding:0 45px;
  list-style: none;
}

.head a{
  color: #000;
  text-decoration: none;
  font-size: 1.1rem;
}

.head a:hover{
  text-decoration:underline;
}

.head ul li {
  float: left;
  margin-right: 3rem;
}

img{
  margin: 0 auto;
  display: block;
}


.con-center{
  width: 100vw;
  height:  calc(100vh - 4rem - 2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-center .loding{
  width: 160px;
  height: 160px;
  background: url("https://cdn.rawgit.com/f12998765/xizero-wiki/c789f393/src/img/loding.svg") no-repeat;
  background-size: 100% 100%;
}

.con-center .e404{
  width: 66vh;
  height: 66vh;
  background: url("https://cdn.rawgit.com/f12998765/xizero-wiki/c789f393/src/img/404.png") no-repeat;
  background-size: 100% 100%;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
  .head ul{
	  padding:0 15px;
  }
  .con-center .e404{
    width: 66vw;
    height: 66vw;
  }
}

:root{
  --so_size:560px;
}
.so{
  width:  var(--so_size);
  height: 44px;
  margin: 15vh auto;
  background-color: #fff;
  vertical-align: top;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.so:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.in{
  display: inline-block;
  width: calc(var(--so_size) - 47px - 16px);
  height: 39px;
  padding: 5px 0 0 16px;
}
.in input{
  width: 100%;
  border: none;
  outline: none;
  font: 16px arial,sans-serif;
  line-height: 34px;
  height: 34px;
}

.so .sub{
  float: right;
  width: 44px;
  height: 44px;
  padding: 0 1.5px;
  background:url("https://cdn.rawgit.com/f12998765/SpeedDial/gh-pages/img/so.svg") no-repeat center center;
  background-size: 72% 72%;
  cursor: pointer;
}

.result{
  max-width: 890px;
 margin: 0 auto;
 padding: 0 45px;
}

#conut{
  font-size:12px;
  color:#aaa;
  height: 44px;
  line-height: 44px;
}

.page{
  width: clac(100% - 2rem);
  padding: 1.5rem;
  margin-bottom:2rem; 
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(61, 58, 58, 0.16), 0 0 0 1px rgba(163, 163, 163, 0.2);
}

.page_title{
  font-size: 18px;
}

.page_title a{
  text-decoration: none;
}

.page_title a:hover{
  text-decoration: underline;
}

.page_text{
  font-size: 14px;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(165, 147, 147, 0.16);
  background:#f6f8fa;
  margin-top:1rem;
  line-height: 25px;
}

y{
  background: yellow;
}